/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body
{
    font-family: sans-serif;

    margin: 0;

    background-color: #d4a76a;
    background-image: url('anahi-martinez-322194.jpg');
    background-size: cover;
}
/*
.icon-flight
{
    padding: 2px 0;

    color: white;
    color: #cef;
    border-radius: 100%;
    background-color: #070;
}*/

.header
{
    padding: 20px 20px 40px 20px;

    text-transform: uppercase;

    border-bottom: 1px solid #553100;
    background-color: rgba(255,255,255,.7);
}

.frog
{
    height: 30px;
}

.header span
{
    font-size: 2em;

    padding-left: 20px;

    vertical-align: top;
    letter-spacing: 2px;

    color: #553100;
}

.navbtns
{
    float: right;

    padding-right: 40px;
}

.nav.btn
{
    display: inline-block;

    width: 100px;
    height: 30%;
    margin: 0 10px;
}

.the-middle-one,
.bottom-row
{
    margin: 25px 50px;
}


.btn
{
    padding: 12px 0;

    transition: all .1s;
    text-align: center;

    color: white;
    background-color: #805215;
}

.content .btn
{
    border: 1px solid black;
}

.btn:hover
{
    transform: translate(-1px,-1px);

    background-color: #915c18;
    box-shadow: 2px 2px 8px rgba(0,0,0,.3);
}

.the-middle-one .card
{
    width: calc(70%/3);
    margin-right: 5%;
    margin-left: 5%;
}

.bottom-row .card
{
    width: 100%;
}

.card
{
    display: inline-block;

    box-sizing: border-box;
    padding: 10px;

    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.6);
}

.card p
{
    height: 50px;
}

.card h3
{
    text-align: center;
}
